@charset "UTF-8";

html {
	font-size: 13px;
}


/*탑바*/
ul.topbar {
	list-style: none;
	margin: 0;
	padding: 0;
}

li.topbar {
	display: inline;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	float: left;
}
.topMenuWrapper{
	float:right;
}

.navbar-brand > img{
   margin-left:0 auto;
}


/*보드*/
.boardstyle {
	padding: 3%;
}

.board1 {
	background-color: #165F8C;
}

.board2 {
	background-color: #1F80A6;
}

.board3 {
	background-color: #719ECA;
}

.board4 {
	background-color: #4284B4;
}


.boardsubtext {
	font-size: 1.0rem;
	font-family: 'Noto Sans KR';
	color: #FFFFFF;
	font-weight: 400;
}

.bottomslider {
	content-align: center;
	text-align: center;
}

.whitebackground {
	background-color: rgba(255, 255, 255, 0.6);
}

.bluebackground {
	background-color: #2b3956;
}

.carousel-caption {
	max-width: 100%;
	width: 100%;
	left: 0 !important;
	bottom: 15% !important;
}

.page-footer{
	position:fixed;
	bottom:0;
}
.footerdesign {
	background-color: #2b3956 !important;
	color: #FFF !important;
}

/* 메뉴바*/
.navbar-default .navbar-nav>li.dropdown:hover>a, .navbar-default .navbar-nav>li.dropdown:hover>a:hover,
	.navbar-default .navbar-nav>li.dropdown:hover>a:focus {
	background-color: rgb(231, 231, 231);
	color: rgb(85, 85, 85);
}

li.dropdown:hover>.dropdown-menu {
	display: block;
}

.navbar-default {
	background-color: teal;
	background-image: none;
	background-repeat: no-repeat;
}

/* 상단 햄버거 아이콘*/
.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(11,61,145,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}


ul > li.nav-item.active{
	background-color:#0b3d92;
	border-radius:3px;
	font-weight: 500;
}

ul > li.nav-item.active > a{
	color:#fff;
	font-weight: 500;
	
}

/*메인 메뉴 패딩*/
li.nav-item {
	padding-left: 20px;
	padding-right: 20px;
	font-size: 1.2rem;
	font-weight: 500 !important;
	font-family:'Noto Sans KR';
	color: #333;
}

/* 홈제외 메뉴 사이드바 */
.nav-link {
	color: #333;
	font-size: 1.2rem;
	font-weight: 500 !important;
}

.nav-link:hover {
	background-color:#0b3d92;
	border-radius:3px;
	color:#fff;
}

li > a.active{
	background-color:#333;
	font-weight: 500;
}


#maincarousel{
	z-index:-99;
}

#menunav{
	 font-family:Nanum Gothic;
	 background-color: #fff;
	 z-index:30;
}

#contab > ul > li > a.active{
	
}



.captionheader{
	color:#ffffff;
}


/* 매 페이지 캐러셀 이미지의 캡션*/
.pagetitle {
	font-family: 'Noto Sans KR';
	font-size: 2.0rem !important;
	font-weight: 500 !important;
	margin-top :0 auto;
	margin-bottom:0 auto;
	color:rgba(255,255,255,0.9);
}

.pagesubtitle {
	font-family: 'Noto Sans KR';
	font-size: 1.3rem !important;
	font-weight: 700 !important;
	margin-top :0 auto;
	margin-bottom:0 auto;
	color:#a7c9ff;
}

/*페이지 탭 */
.tabs{
	font-family: 'Noto Sans KR';
	font-weight:400;
  margin-top:3%;
}

.tabs .tab-pane{
	
}

.tab-content{
	padding-top:5%;
}

.tabs li{
  
}

.tabs li > a {
display:block;
  border-radius:5px;
  border-color:#ccc;
  border-style:solid;
  border-width:1px;
  font-family:'Noto Sans KR';
  font-size:1rem;
  background-color:#fff;
  padding:10px 15px 10px 15px;
  margin:3px;  
  color:#333;
}
.auto-size-img{
	display:block;overflow: hidden; object-fit: cover; object-position: center; padding:4%;
	
}
.tabs li > a.active{
	background-color:#0b3d92;
	color:#fff
	
}
#tab_a {
	background-color:#fff;
}


footer{
    bottom: 0;
    width: 100%;
}

.footertext{
	color:#333;
	font-weight:500;
	font-size:0.9rem;
}

/*학과연혁타임라인*/

/* 교육목표 css*/

ol {
    counter-reset: li; /* Initiate a counter */
    list-style: none; /* Remove default numbering */
    *list-style: decimal; /* Keep using default numbering for IE6/7 */
    font: 1.1rem 'Noto Sans KR';
    padding: 0;
    margin-bottom: 4em;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

ol ol {
    margin: 0 0 0 2em; /* Add some left margin for inner lists */
}
.rectangle-list a{
    position: relative;
    display: block;
    padding: .4em .4em .4em .8em;
    *padding: .4em;
    margin: .5em 0 .5em 2.5em;
    background: #ddd;
    color: #444;
    text-decoration: none;
    transition: all .3s ease-out;   
}

.rectangle-list a:hover{
    background: #eee;
}   

.rectangle-list a:before{
    content: counter(li);
    counter-increment: li;
    position: absolute; 
    top: 50%;
    margin-top: -1em;
    background: #0b3d92;
    left:-2.5%;
    color:#fff;
    height: 2em;
    width: 2em;
    line-height: 2em;
    text-align: center;
    font-weight: bold;
}

.rectangle-list a:after{
    position: absolute; 
    content: '';
    border: .5em solid transparent;
    left: -1em;
    top: 50%;
    margin-top: -.5em;
    transition: all .3s ease-out;               
}

.rectangle-list a:hover:after{
    left: -.5em;
    border-left-color: #fa8072;             
}   
/* Timeline */
.timeline-item {
  padding: 3em 2em 1em;
  position: relative;
  color: rgba(0, 0, 0, 0.7);
  border-left: 2px solid rgba(0, 0, 0, 0.3);
}
.timeline-item p {
  font-size: 1rem;
  margin-top:1%;
  margin-left:2%;
}
.timeline-item::before {
  content: attr(date-is);
  position: absolute;
  left: 2em;
  font-weight: bold;
  top: 0.8em;
  margin-bottom:2%;
  display: block;
  border-top:2px solid #333;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
}
.timeline-item::after {
  width: 10px;
  height: 10px;
  display: block;
  top: 1em;
  position: absolute;
  left: -7px;
  border-radius: 10px;
  content: "";
  border: 2px solid rgba(0, 0, 0, 0.3);
  background: white;
}
.timeline-item:last-child {
  -o-border-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 60%, rgba(0, 0, 0, 0)) 1 100%;
     border-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 60%, rgba(0, 0, 0, 0)) 1 100%;
}



.navigator{
	font-family:'Noto Sans KR';
	padding-left:2% !important;
	padding-top:2% !important;
	
	color:#333 !important;
	padding-bottom:1% !important;
	padding-right:2% !important;
	margin-bottom:3% !important;
	border-bottom:1px solid #f4f4f4;
}

.navigator > a{
	font-size:0.4rem;
	float:right;
	bottom:0;
}

.navigator > a.title{
	font-size:1.8rem;
	font-weight:500;
	float:left;
}

table{
	font-family:'Noto Sans KR';
	font-size:1.1rem;
	
}

i{
	margin-right:1% !important;
}

.courseaim{
	color:#333;
	display:inline-block;
	padding-left:2%;
	padding-right:2%;
	font-weight:900;
	font-size:3rem;
	
}

.aimcontainer{
	display:block;
	padding:2%;
	background-color:#fff;
	border-radius:3px;
	border:1px solid fff;
	shadow:1px;
	margin-bottom:-10%;
}



.text10{
	display:inline-block;
	padding-left:1%;
	padding-right:1%;
	color:#2b3956;
	font-weight:900;
	font-size:1.5rem;
	margin-bottom:2%;
	margin-top:5%;
}



.text07{
	margin:10px;
	display:block;
	color:#333;
	font-weight:500;
	font-size:1.1rem;
}


.text01{
	margin:10px;
	display:block;
	color:#333;
	font-weight:400;
	font-size:0.9rem;
}


tr,td {
    padding: 10px;
    margin:10px;
}

.aimbackground{
	background-image:url("../images/software.jpg");
	overflow: hidden; 
	object-fit: cover; 
	object-position: center;
	margin-bottom:5%;
	padding:3.5%;
}

.table{
	font-size:1.0rem;
}


.banner{
	border-radius:15px;	
}

.banner-background1{
	background: linear-gradient(200deg, #81b125, #9db66d);
	
	color:#fff;

}

.banner-background2{
	background: linear-gradient(200deg, #735b4c, #907462);
	color:#fff;
	
}

.banner-background3{
	background: linear-gradient(200deg, #2c4c80, #3d619d);
	color:#fff;
	
}

.banner-background4{
	background: linear-gradient(200deg, #f4f4f4, #ffffff);
	color:#333;
	
}
.banner-background5{
background: linear-gradient(200deg, #f5a322, #e3a127);
	color:#fff;
	
}
.banner-background6{
background: linear-gradient(200deg, #eb7938, #f0874b);
	color:#fff;
	
}

.maincontents{
	margin-top:1%;
	margin-bottom:1%;
}

.bannermaintext{
	font-family:'Noto Sans KR';
	font-weight:600;
	font-size:1.5rem;
	border-bottom:2px solid #fff;
	padding-bottom:1%;
}
.banner1subtext1{
	overflow: hidden; text-overflow: ellipsis;white-space: nowrap;
	font-weight:400;
	font-size:1rem;
}

.banner1subtext2{
	overflow: hidden; text-overflow: ellipsis;white-space: nowrap;
	font-weight:300;
	font-size:0.8rem;
	text-align:right;
}

.subbannerheader{
	font-family:'Noto Sans KR';
	padding-top:2%;
	padding-bottom:2%;
	font-weight:700;
	font-size:1.8rem;
	color:#fff;
}

.subbannerheaderblacktext{
	font-family:'Nanum Gothic';
	padding-top:2%;
	padding-bottom:2%;
	font-weight:700;
	font-size:1.8rem;
	color:#5a5a5a;
}
.subbannerbody{
	font-family:'Nanum Gothic';
	padding-top:1%;
	font-size:1.3rem;
	color:#fff
}

.subbannerbodyblacktext{
	font-family:'Nanum Gothic';
	padding-top:1%;
	font-size:1.3rem;
	color:#5a5a5a;
}

.copyright{
	color:#666;
	font-weight:400;
	font-size:0.65rem;
}

/* 교수진 css */
.professorimage{
	max-height:478px;
	max-weight:360px;
}

.footer-classic a, .footer-classic a:focus, .footer-classic a:active {
    color: #ffffff;
}
.nav-list li {
    padding-top: 5px;
    padding-bottom: 5px;
}

.nav-list li a:hover:before {
    margin-left: 0;
    opacity: 1;
    visibility: visible;
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 23px;
    font: 900 13px/1 "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
}
.social-container .col {
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.nav-list li a:before {
    content: "\f14f";
    font: 400 21px/1 "Material Design Icons";
    color: #0b3d91;
    display: inline-block;
    vertical-align: baseline;
    margin-left: -28px;
    margin-right: 7px;
    opacity: 0;
    visibility: hidden;
    transition: .22s ease;
}

