<?xml version="1.0" encoding="UTF-8"?>

<mapper namespace="com.deu.webapp.DAO.BoardDAO"> 

	 <!--
		namespace =맵퍼별명
		
	  MyBatis 
	 게시판관련 CRUD의 실질적 시퀄문이 여기에 저장됨 -->
	 
	 
	 <!-- 글삽입 -->
    <insert id="insertBoard">
        insert into NOTICE (posttitle,postwriter,postmemo) 
        values(#{posttitle},#{postwriter},#{postmemo})
    </insert>

	<!-- 글 전체 조회 -->
    <select id="listBoard" resultType="com.deu.webapp.VO.boardVO">
    <![CDATA[
        select * from NOTICE 
        order by postitle DESC
    ]]>
    </select>
    
    <!-- 해당 글 상세 가져오기(postno에 해당하는칼럼 다가져옴) -->
    <select id="detailBoard" resultType="com.deu.webapp.VO.boardVO">
            select * from NOTICE where postno = #{postno}
    </select>
 
    <!-- 글 삭제하기 -->
    <delete id="deleteBoard">
        delete from NOTICE where postno = #{postno}
    </delete>
    
    <!-- 글 수정하기 -->
    <update id="updateBoard">
        update NOTICE 
        set posttitle=#{posttitle} ,b_detail = #{postmemo} 
        where postno = #{postno}
    </update>


</mapper>